#tableAnalysis {
    font-size: x-large;
    text-align: left;
    color: white;
    font-weight: bold;
    margin-left: 100px;
}

th {
    font-family: "Times New Roman";
    font-size: xx-large;
    text-align: left;
    color: white;
}

h4 {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Times New Roman";
}

