#recentSpendingHeading {
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 30px;
}

.responsive-table {
    width: 60%;
    margin-left: 345px;
}

#addSpendingButton {
    background-color: #01579b;
    display: inline-flex;
    font-size: x-large;
    color: white;
    font-family: "Times New Roman";
    font-weight: bold;
}

#submitAddSpendingModalButton, #submitEditSpendingModalButton, #confirmButton, #updateButton, #cancelButton, #deleteButton {
    color:white;
    font-size: x-large;
    font-family: 'Times New Roman';
    margin-bottom: 20px;
}


h5 {
    text-align: left;
    margin-left: 100px;
    font-family: "Times New Roman";
}

#categoriesSelector, #updateCategoriesSelector{
    margin-left: 100px;
    width: 250px;
    color: white;
    font-size: large;
}

#datePicker, #updateDatePicker {
    margin-left: 100px;
    width: 250px;
}

.datepicker {
    color: white;
}

th {
    font-family: "Times New Roman";
    font-size: xx-large;
    text-decoration: underline;
    text-align: left;
}

#amountSpent {
    color: white;
    font-size: x-large;
    font-family: "Times New Roman";
    margin-left: 20px;
}

#updateAmountSpent {
    color: white;
    font-size: x-large;
    font-family: "Times New Roman";
}

.input-field {
    width: 250px;
    margin-left: 107px;
}

td {
    font-size: xx-large;
    text-align: left;
}

#confirmationQuestion {
    font-size: xx-large;
    text-align: center;
}






