body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

th {
    text-decoration: underline;
}

div {
    font-family: "Times New Roman";
}

form {
    width: 100%;
}

#Income {
    font-size: xx-large;
    font-family: "Times New Roman";
    color: white;
    margin-left: 280px;
}

button {
    background-color: #01579b;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.modal, .modal-footer {
    background-color: #01579b;
    color: white;
    font-size: x-large;
}

#heading {
    display: inline-flex;
    margin-right:10px;
    font-size: xxx-large;
}


#incomeInput {
    display: inline-flex;
    margin-right: 10px;
    color: white;
    font-size: xxx-large;
    font-weight: bolder;
}

#editButton {
    display: inline-flex;
    font-size: xx-large;
    background-color: #01579b;
    color: white;
    font-family: "Times New Roman";
    margin-bottom: 25px;
}
