<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" media="screen, projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<!-- navbar start -->
<div class="navbar-fixed">
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <ul style="padding-left: 20px; font-size: x-large">
                <li style="color: white"><b>Family Finance Management</b></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a href="http://localhost:8080/"><b style="font-size: large">Home</b></a></li>
                <li><a id="editLink" data-target="modal1" class="modal-trigger"><b style="font-size: large">Edit Income</b></a></li>
                <li><a href="spending"><b style="font-size: large">Edit spending</b></a></li>
                <li><a href="analysis"><b style="font-size: large">View analysis</b></a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- navbar end -->

<main>
    <!-- Upper row -->
    <br>
    <div class="row center" style="color: white; font-size: xx-large">
        <div class="col s12">
            <a th:href="${'/month?yyyymm=' + #dates.format(lastMonth, 'yyyyMM')}"><b style="font-size: large">←</b></a>
            <b id="headingMonth" th:text="${#dates.monthName(thisMonth) + ' ' + #dates.year(thisMonth)}"></b>
            <a th:href="${'/month?yyyymm=' + #dates.format(nextMonth, 'yyyyMM')}"><b style="font-size: large">→</b></a>
        </div>
    </div>

    <div class="row center" style="color: white">
        <div class="col s12">
            <b id="heading">Your family's monthly income is €</b>
            <div id="incomeInput" th:text="${#numbers.formatDecimal(income, 0, 'COMMA', 2, 'POINT')}"></div>

            <!--Modal trigger-->
            <button id="editButton" data-target="modal1" class="btn modal-trigger"><b>EDIT</b></button>
        </div>
    </div>
        <!-- Modal body -->
        <div id="modal1" class="modal">

            <form method="post" action="income">
                <div class="modal-content">
                    <h4 style="margin-left: 30px">Please enter your family's income per month: </h4>
                    <p></p>
                    <p></p>
                    <div class="row">
                        <form class="col s12">
                            <div class="input-wrap">
                                <div class="input-field col s6">
                                    <input id="Income" name="amount" type="text" pattern="^[\d,]+$" class="validate">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer" style="background-color:#01579b">
                        <button class="modal-close light-blue darken-4 btn-large" type="submit" name="action">
                            Submit<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal end -->
    </main>

    <!-- Initialization -->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/utils.js"></script>
    <script>
        /* nav bar initialization */
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });


        /* Modal initialization */
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
            var instance = M.Modal.getInstance(elem);
        });

        /* Income editing -> comma separation enabling */
        document.getElementById('Income').addEventListener('input', event =>
            event.target.value = (parseInt(event.target.value.replace(/[^\d]+/gi, '')) || 0).toLocaleString('en-US')
        );
    </script>

</body>

</html>