<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" media="screen, projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<!-- navbar start -->
<div class="navbar-fixed">
  <nav class="light-blue darken-4">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul style="padding-left: 20px; font-size: x-large">
        <li style="color: white"><b>Family Finance Management</b></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#"><b style="font-size: large">Home</b></a></li>
        <li><a href="#"><b style="font-size: large">Edit income</b></a></li>
        <li><a href="#"><b style="font-size: large">Add spending</b></a></li>
        <li><a href="#"><b style="font-size: large">View analysis</b></a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- navbar end -->


<main>
  <br>
  <br>

  <!-- Upper row -->
  <div class="row center" style="color: white">
    <div class="col s12" style="font-size: xxx-large; padding-bottom: 30px">
    <b id="item1">Your family's monthly income is </b>
      <table id="item2" style="width: 150px; background-color: white">
        <tbody>
        <tr>
          <td th:text="${income}">
          </td>
        </tr>
        </tbody>
      </table>
      <!--Modal trigger-->
      <button id="item3" data-target="modal1" class="btn modal-trigger"><b>EDIT</b></button>
    </div>

    <!-- Modal body -->
    <div id="modal1" class="modal">

      <div class="modal-content">
        <h4>Please enter your family's income per month: </h4>
        <p></p>
        <p></p>
        <div class="row">
          <div class="input-wrap">
            <div class="input-field col s6">
              <input id="Income" type="text" pattern="^[\d,]+$" class="validate" style="font-size: xx-large; color: white">
              <label>income</label>
            </div>
          </div>
        </div>
      </div>

        <div class="modal-footer" style="background-color:#01579b">
          <button class="modal-close light-blue darken-4 btn-large" type="submit" name="action" style="color:white; font-size: x-large; font-family: 'Times New Roman'">
            Submit<i class="material-icons right">send</i>
          </button>
        </div>

      </div>
    <!-- Modal end -->

    <div class="row center" style="color: white; padding-bottom: 30px">
      <div class="col s6" style="font-size: xx-large"><b style="text-decoration: underline">Your family's recent spending</b>
        <p></p>
        <table style="margin-left: 50px; width: 90%">

          <thead>
          <tr>
            <th style="width: 33%">Category</th>
            <th style="width: 34%">Amount</th>
            <th style="width: 33%">Date</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="spendingItem: ${spending}">
            <td th:text="${spendingItem.spendingCategory.categoryName}"></td>
            <td th:text="${spendingItem.amount}"></td>
            <td th:text="${#dates.format(spendingItem.spendingDate, 'dd-MM-yyyy')}"></td>
          </tr>
          </tbody>
        </table>

        <table style="margin-left: 50px; width: 90%">
          <tbody>
          <tr>
            <td>Last spending was on ... </td>
          </tr>
          <tr>
            <td><button style="background-color: #01579b"><b style="color: white">ADD MORE</b></button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col s6" style="font-size: xx-large"><b style="text-decoration: underline">Last month's analysis</b>
        <p></p>
        <table class="responsive-table" style="margin-left: 50px; width: 90%">
          <thead>
          <tr>
            <th style="width: 40%">Category</th>
            <th style="width: 20%">Target %</th>
            <th style="width: 20%;">Your %</th>
            <th style="width: 20%">Evaluation</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>

        <table style="margin-left: 50px; width: 90%">
          <tbody>
          <tr>
            <td><button><b>VIEW ANALYSIS</b></button></td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
</main>




<!-- Initialization -->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script>
  /* nav bar initialization */
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });

  /* Modal initialization */
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
    $(document).ready(function(){
      $('.modal').modal();
  });

  /* Income editing -> comma separation enabling */
  document.getElementById('Income').addEventListener('input', event =>
          event.target.value = (parseInt(event.target.value.replace(/[^\d]+/gi, '')) || 0).toLocaleString('en-US'))
  });

</script>
</body>

</html>
