<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" media="screen, projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

<!-- Upper row -->
<div class="row center" style="color: white">
    <div class="col s12" style="padding-bottom: 30px">
        <a th:href="${'/month?yyyymm=' + #dates.format(lastMonth, 'yyyyMM')}"><b style="font-size: large">Last Month</b></a>
        <b id="heading" th:text="${#dates.monthName(thisMonth) + ' ' + #dates.year(thisMonth)}"></b>
        <a th:href="${'/month?yyyymm=' + #dates.format(nextMonth, 'yyyyMM')}"><b style="font-size: large">Next Month</b></a>
    </div>
</div>

<!-- Initialization -->
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/utils.js"></script>
<script>
    /* nav bar initialization */
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });

    /* Modal initialization */
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
        var instance = M.Modal.getInstance(elem);
    });

</script>

</body>
</html>
